<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
  </head>
  <body>
    <div layout:fragment="content">
      <h1 th:text="イベント新規作成" class="page-header"></h1>
      <form
        th:action="@{/admin/events/create}"
        th:object="${event}"
        method="post"
      >
        <ul
          th:if="${#fields.hasErrors()}"
          class="alert alert-danger"
          role="alert"
        >
          <li th:each="err : ${#fields.errors('*')}">
            <span th:text="${err}"></span>
          </li>
        </ul>
        <label>イベント名</label>
        <input class="form-control" type="text" th:field="*{name}" />
        <label>詳細</label>
        <input class="form-control" type="text" th:field="*{detail}" />
        <label>最大参加者数</label>
        <input class="form-control" type="text" th:field="*{maxParticipant}" />
        <label for="customer">カテゴリ</label>
        <select class="form-control" th:field="*{category}">
          <option
            th:each="category : ${@categoryRepository.findAll()}"
            th:value="${category.id}"
            th:text="${category.name}"
          ></option>
        </select>
        <label for="customer">ユーザー</label>
        <select class="form-control" th:attr="name='user'">
          <option
            th:each="user : ${@userRepository.findAll()}"
            th:value="${user.id}"
            th:text="${user.email}"
            th:selected="${user.id == #authentication.principal.id}"
          ></option>
        </select>
        <input class="mt-3 btn btn-primary" type="submit" th:value="登録" />
      </form>
    </div>
  </body>
</html>
